.header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("./../../assets/main.jpg");
    background-size: contain;
    background-position: center;

    &-wrapper {
        width: 100vw;
        padding: 1rem 4rem;
    }

    &-logo {
        height: 8vh;
        display: flex;
        align-items: center;
    }

    &-nav {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 8vh;
        gap: 3.5rem;

        li {

            list-style: none;
        }
    }
}